<div class="object user user-discord" data-id="<%= user._id %>"<%- locals?.hide ? ` style="display:none;"` : "" %>>
    <img src="<%= user.avatarUrl() %>" alt="Avatar for <%= user.username %>">
    <div class="info">
        <h3><%= user.globalName ? user.globalName : user.username %></h3>
        <div class="data">
            <%= user._id %> <span class="b">&bullet;</span> <%- include("../discordMention", {user}) %>
        </div>
    </div>
</div>
