<!DOCTYPE html>
<html lang="en">
<head>

<%- include("../partials/head") %>

    <title>Home - The Adventurers Guild</title>
</head>
<body>
    <div class="wrapper">
        <%- include("../partials/header") %>
        <main>
            <%- include("../partials/socials") %>
            <p class="welcome">Welcome, adventurer!</p>
            <h2>Envoys</h2>
            <p>Envoys are content creators that call The Adventurers Guild home!<br>Check them out below!</p>
            <div class="users">
                <% envoys.forEach(envoy => { %>
                <a class="user user-envoy" href="https://twitch.tv/<%= envoy.twitchUser.login %>" target="__blank">
                    <img src="<%= envoy.twitchUser.profile_image_url %>" alt="Profile picture for <%= envoy.twitchUser.display_name %>">
                    <div class="info">
                        <h3><%= envoy.twitchUser.display_name %></h3>
                        <div class="data">
                            <% if (envoy.twitchUser.follower_count) { %><%= comma(envoy.twitchUser.follower_count) %> follower<%= envoy.twitchUser.follower_count === 1 ? "" : "s" %> <span class="b">&bullet;</span><% } %>
                            Discord <span class="discord-mention" aria-label="Discord User">@<%= envoy.discordUser.username %></span>
                        </div>
                    </div>
                </a>
                <% }) %>
            </div>
            <%- include("../partials/socials") %>
        </main>
    </div>
</body>
</html>