<!DOCTYPE html>
<html lang="en">
<head>

<%- include("../partials/head") %>

    <title>Home - The Illumindal Guild</title>
</head>
<body>
    <div class="wrapper">
        <%- include("../partials/header") %>
        <main>
            <%- include("../partials/socials") %>
            <p class="welcome">Welcome, <%= twitchUsers.length > 0 ? twitchUsers[0].display_name : "adventurer" %>!</p>
            <h2>Envoys</h2>
            <p>Envoys are content creators that call The Illumindal Guild home!<br>Check them out below!</p>
            <div class="users container container-md">
                <% envoys.forEach(envoy => { %>
                <a class="object user user-envoy col-6" href="https://twitch.tv/<%= envoy.twitchUser.login %>" target="__blank">
                    <img src="<%= envoy.twitchUser.profile_image_url %>" alt="Profile picture for <%= envoy.twitchUser.display_name %>">
                    <div class="info">
                        <h3><%= envoy.twitchUser.display_name %></h3>
                        <div class="data">
                            <% if (envoy.twitchUser.follower_count) { %><%= comma(envoy.twitchUser.follower_count) %> follower<%= envoy.twitchUser.follower_count === 1 ? "" : "s" %> <span class="b">&bullet;</span><% } %>
                            <%- include("../partials/discordMention", {user: envoy.discordUser}) %>
                        </div>
                    </div>
                </a>
                <% }) %>
            </div>
            <h2>Community Servers</h2>
            <p>Official Illumindal Guild Game Servers! Find your favorite and come join!</p>
            <div class="servers container container-md">
            <% servers.forEach(server => { %>
                <a class="object server col-6" href="/discord" target="_blank">
                    <img src="<%= server.imageUrl %>" alt="<%= server.game %> Game Art">
                    <div class="info">
                        <h3><%= server.name %></h3>
                        <div class="data">
                            <p>
                                <%= server.description %>
                            </p>
                            Hosted by <%- include("../partials/discordMention", {user: server.host}) %>. Operated by <%- include("../partials/discordMention", {user: server.operator}) %>
                        </div>
                    </div>
                </a>
            <% }) %>
            </div>
            <%- include("../partials/socials") %>
        </main>
        <%- include("../partials/footer") %>
    </div>
</body>
</html>