<!DOCTYPE html>
<html lang="en">
<head>

<%- include("../partials/head") %>

    <link rel="stylesheet" href="/assets/css/alert.css?v=4">

    <title>Home - The Illumindal Guild</title>
</head>
<body>
    <div class="wrapper">
        <%- include("../partials/header", {discordUsers, active: "/"}) %>
        <main>
            <%- include("../partials/socials") %>
            <% if (!hasJoined) { %>
            <div class="alert alert-info">
                <strong>Join The Illumindal Guild!</strong>
                <br>
                You haven't joined The Illumindal Guild Discord yet! <a href="#" class="join-discord">Click here to join!</a>
            </div>
            <% } %>
            <p class="welcome">Welcome, <%= discordUsers.length > 0 ? discordUsers[0].username : "adventurer" %>!</p>
            <h2>Envoys</h2>
            <p>Envoys are content creators that call The Illumindal Guild home!<br>Check them out below!</p>
            <div class="users container container-md">
                <% envoys.forEach(envoy => { %>
                <a class="object user user-envoy col-6" href="https://twitch.tv/<%= envoy.twitchUser.login %>" target="_blank">
                    <img src="<%= envoy.twitchUser.profile_image_url %>" alt="Profile picture for <%= envoy.twitchUser.display_name %>">
                    <div class="info">
                        <h3><%= envoy.twitchUser.display_name %></h3>
                        <div class="data">
                            <% if (envoy.twitchUser.follower_count) { %><%= comma(envoy.twitchUser.follower_count) %> follower<%= envoy.twitchUser.follower_count === 1 ? "" : "s" %> <span class="b">&bullet;</span><% } %>
                            <%- include("../partials/discordMention", {user: envoy.discordUser}) %>
                        </div>
                    </div>
                </a>
                <% }) %>
            </div>
            <h2>Community Servers</h2>
            <p>Official Illumindal Guild Game Servers! Find your favorite and come join!</p>
            <div class="servers container container-md">
            <% servers.forEach(server => { %>
                <%- include("../partials/objects/server", {server}) %>
            <% }) %>
            </div>
            <%- include("../partials/socials") %>
        </main>
        <%- include("../partials/footer") %>
    </div>
</body>
</html>