<!DOCTYPE html>
<html lang="en">
<head>

<%- include("../partials/head") %>

    <link rel="stylesheet" href="/assets/css/form.css?v=2">

    <script src="/assets/js/server.js?v=2"> </script>

    <title>Server: <%= server.name %> - The Illumindal Guild</title>
</head>
<body>
    <div class="wrapper">
        <%- include("../partials/header") %>
        <main>
            <div class="container container-md">
                <div class="col-6 col-margin">
                    <h2>Server Info</h2>
                    <%- include("../partials/objects/server", {server}) %>
                    <% if (server.mods && server.mods.length > 0) { %>
                    <h2>Server Mods</h2>
                    <% server.mods.forEach(mod => { %> <code><%= mod %></code> <% }) %>
                    <% } %>
                </div>
                <div class="col-6 col-margin">
                    <h2>Server Rules</h2>
                    <% if (server.rules.length > 0) { %>
                    <%- include("../partials/rules", {obj: server}) %>
                    <% } else { %>
                    <p>This server doesn't have rules posted yet! Recognize that all guild rules still apply on Community servers.</p>
                    <% } %>
                </div>
            </div>
            <div>
                <h2>Apply</h2>
                <p>To apply for this server, please contact: <%- include("../partials/discordMention", {user: server.host}) %></p>
            </div>
            <%- include("../partials/socials") %>
        </main>
        <%- include("../partials/footer") %>
    </div>
</body>
</html>
