<!DOCTYPE html>
<html lang="en">
<head>

<%- include("../../partials/head") %>

    <link rel="stylesheet" href="/assets/css/form.css">

    <script src="/assets/js/apply.js"> </script>

    <title>Apply - The Illumindal Guild</title>
</head>
<body>
    <div class="wrapper">
        <%- include("../../partials/header", {discordUsers, active: "apply"}) %>
        <main>
            <h2>Attach User Accounts</h2>
            <form action="/apply" method="GET">
                <% servers.forEach(server => { %><input type="hidden" name="server" value="<%= server._id %>"><% }) %>
                <input type="hidden" name="step" value="4">
                <div class="container container-md">
                    <% if (requireDiscord) { %>
                    <div class="col-6 col-margin">
                        <h2>Discord User</h2>
                        <p>
                            Your Discord username and ID must be sent with the <code><%= servers.filter(x => x.form.requireDiscord).map(x => x.name).join(", ") %></code> application(s).
                        </p>
                        <p>
                            Please select a Discord user to attach from your linked Discord accounts.
                        </p>
                        <label class="form-group">
                            Select a Discord User
                            <select name="discordUser" id="discordUser" class="user-select" data-class="user-discord">
                                <% discordUsers.forEach(user => { %><option value="<%= user._id %>"><%= user.globalName ? user.globalName : user.username %></option><% }) %>
                            </select>
                        </label>
                        <% discordUsers.forEach(user => { %>
                        <%- include("../../partials/user/discord", {user, hide: true}) %>
                        <% }) %>
                        <p>
                            Can't find the account you're looking for? <a href="/auth/discord">Add another Discord account</a>
                        </p>
                    </div>
                    <% }
                     if (requireTwitch) { %>
                    <div class="col-6 col-margin">
                        <h2>Twitch User</h2>
                        <p>
                            Your Twitch username and ID must be sent with the <code><%= servers.filter(x => x.form.requireTwitch).map(x => x.name).join(", ") %></code> application(s).
                        </p>
                        <p>
                            Please select a Twitch user to attach from your linked Twitch accounts.
                        </p>
                        <label class="form-group">
                            Select a Twitch User
                            <select name="twitchUser" id="twitchUser" class="user-select" data-class="user-twitch">
                                <% twitchUsers.forEach(user => { %><option value="<%= user._id %>"><%= user.display_name %></option><% }) %>
                            </select>
                        </label>
                        <% twitchUsers.forEach(user => { %>
                        <%- include("../../partials/user/twitch", {user, hide: true}) %>
                        <% }) %>
                        <p>
                            Can't find the account you're looking for? <a href="/auth/twitch">Add another Twitch account</a>
                            </p>
                    </div>
                    <% }
                     if (requireSteam) { %>
                    <div class="col-6 col-margin">
                        <h2>Steam User</h2>
                        <p>
                            Your Steam username and ID must be sent with the <code><%= servers.filter(x => x.form.requireSteam).map(x => x.name).join(", ") %></code> application(s).
                        </p>
                        <p>
                            Please select a Steam user to attach from your linked Steam accounts.
                        </p>
                        <label class="form-group">
                            Select a Steam User
                            <select name="steamUser" id="steamUser" class="user-select" data-class="user-steam">
                                <% steamUsers.forEach(user => { %><option value="<%= user._id %>"><%= user.username %></option><% }) %>
                            </select>
                        </label>
                        <% steamUsers.forEach(user => { %>
                        <%- include("../../partials/user/steam", {user, hide: true}) %>
                        <% }) %>
                        <p>
                            Can't find the account you're looking for? <a href="/auth/steam">Add another Steam account</a>
                        </p>
                    </div>
                    <% } %>
                </div>
                <p>Confirm the users to be sent with your application, then click Next Page.</p>
                <input type="submit" class="button" value="Next Page">
            </form>
            <%- include("../../partials/socials") %>
        </main>
        <%- include("../../partials/footer") %>
    </div>
</body>
</html>
