<!DOCTYPE html>
<html lang="en">
<head>

<%- include("../../partials/head") %>

    <link rel="stylesheet" href="/assets/css/form.css">

    <script src="/assets/js/apply.js"> </script>

    <title>Apply - The Illumindal Guild</title>
</head>
<body>
    <div class="wrapper">
        <%- include("../../partials/header", {discordUsers, active: "apply"}) %>
        <main>
            <h2>Short Answer</h2>
            <form action="/apply" method="POST">
                <% if (requireDiscord && locals.discordUser) { %><input type="hidden" name="discordUser" value="<%= discordUser._id %>"><% } %>
                <% if (requireSteam && locals.steamUser) { %><input type="hidden" name="steamUser" value="<%= steamUser._id %>"><% } %>
                <% if (requireTwitch && locals.twitchUser) { %><input type="hidden" name="twitchUser" value="<%= twitchUser._id %>"><% } %>

                <% if (inputs.length === 0) { %>
                    <p>No questions are required for any of the servers you're applying for! Click Submit Application below to complete your application(s)</p>
                <% } %>

                <% inputs.forEach(input => { %>
                <label class="form-group">
                    <%= input.input.label %>
                    <input
                        type="<%= input.input.type %>"
                        name="<%= input.input.name %>"
                        <%- input.input.placeholder ? `placeholder="${input.input.placeholder}"` : "" %>
                        <%- input.input.required ? `required="required"` : "" %>
                        <%- input.input?.text?.minlength ? `minlength="${input.input.text.minlength}"` : "" %>
                        <%- input.input?.text?.maxlength ? `maxlength="${input.input.text.maxlength}"` : "" %>
                        <%- input.input?.number?.min ? `min="${input.number.min}"` : "" %>
                        <%- input.input?.number?.max ? `max="${input.input.number.max}"` : "" %>
                        <%- input.input?.number?.step ? `step="${input.input.number.step}"` : "" %>
                    >
                    <small>
                        Required for <code><%= servers.filter(x => input.forms.find(y => String(y._id) === String(x.form._id))).map(x => x.name).join(", ") %></code>
                    </small>
                </label>
                <% }) %>
                
                <% servers.forEach(server => { %><input type="hidden" name="server" value="<%= server._id %>"><% }) %>
                
                <input type="submit" class="button" value="Submit Application">
            </form>
            <%- include("../../partials/socials") %>
        </main>
        <%- include("../../partials/footer") %>
    </div>
</body>
</html>
